.tab {
  overflow: hidden;
  background-color: #f1f1f1;
}

.tab button {
  background-color: lightgreen;
  float: left;
  outline: none;
  cursor: pointer;
  height: 25px;
  border-style: solid;
  border-width: 1px;
  border-color: green;
}

.tab button.active {
  background-color: darkgreen;
}

body div.tabcontent:nth-child(1) {
  display: block;
}

.tabcontent {
  display: none;
}